<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="profile-side">
                <div class="imgBx">
                    <img src="../../assets/user (1).png" alt="">
                </div>
                <h2>Malay Shah<br><span>Web Developer</span></h2>
            </div>
            <div class="contactInfo">
                <h3 class="title">Contact Information</h3>
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-phone"></i></span>
                        <span class="text">+91 990909090</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <span class="text">email15@gmail.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-globe"></i></span>
                        <span class="text">www.webiste.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-brands fa-linkedin"></i></span>
                        <span class="text">www/linkdin.com/malays02</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                        <span class="text">Pune, India  </span>
                    </li>
                </ul>
            </div>
            <div class="contactInfo edu">
                <h3 class="title">Education</h3>
                <ul>
                    <li>
                        <h5>2017-2018</h5>
                        <h4>SSC</h4>
                        <h4>Sinhagad spring dale school</h4>
                    </li>
                    <li>
                        <h5>2018-2019</h5>
                        <h4>HSC</h4>
                        <h4>Sinhagad College of Arts,Commerce and Science</h4>
                    </li>
                    <li>
                        <h5>2019-2023</h5>
                        <h4>Bachelor in Engineering</h4>
                        <h4>Smt. Kashibai Navale College of Engineering</h4>
                    </li>
                </ul>
            </div>
            <div class="contactInfo lang">
                <h3 class="title">Languages Known</h3>
                <ul>
                    <li>
                        <span class="title">English</span>
                        <span class="percent">
                            <div style="width: 90%"></div>
                        </span>
                    </li>
                    <li>
                        <span class="title">Hindi</span>
                        <span class="percent">
                            <div style="width: 80%"></div>
                        </span>
                    </li>
                    <li>
                        <span class="title">Marathi</span>
                        <span class="percent">
                            <div style="width: 90%"></div>
                        </span>
                    </li>
                    <li>
                        <span class="title">Gujarati</span>
                        <span class="percent">
                            <div style="width: 80%"></div>
                        </span>
                    </li>
                    
                </ul>
            </div>
            <div class="contactInfo lang">
                <h3 class="title">ACHIEVEMENTS</h3>
                <ul>
                    <li style="color: white; list-style-type: disc;">Solved 150+ question on hackerrank</li>
                    <li style="color: white; list-style-type: disc;">Solved 150+ question on hackerrank</li>
                    <li style="color: white; list-style-type: disc;">Solved 150+ question on hackerrank</li>
                    <li style="color: white; list-style-type: disc;">Solved 150+ question on hackerrank</li>
                    <li style="color: white; list-style-type: disc;">Solved 150+ question on hackerrank</li>
                </ul>
            </div>
            <div class="about intrest" style="padding-top: 40px;">
                <h2 class="rightTitle" style="color: white;">INTRESTS</h2>
                <ul>
                    <li>Gaming</li>
                    <li>Coding</li>
                    <li>TP</li>
                    <li>ok</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="about">
                <h2 class="rightTitle">Profile</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium expedita voluptatum unde a veniam natus nobis, pariatur aut, totam architecto fugiat iure velit facere distinctio odio! Cupiditate, non distinctio.</p>
            </div>
            <div class="about ">
                <h2 class="rightTitle">Experience</h2>
                <div class="box">
                    <div class="yearOfJoining">
                        <h5>year</h5>
                        <h5>Company name</h5>
                    </div>
                    <div class="text">
                        <h4>Role </h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="yearOfJoining">
                        <h5>year</h5>
                        <h5>Company name</h5>
                    </div>
                    <div class="text">
                        <h4>Role </h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="yearOfJoining">
                        <h5>year</h5>
                        <h5>Company name</h5>
                    </div>
                    <div class="text">
                        <h4>Role </h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                    </div>
                </div>
            </div>
            <div class="about ">
                <h2 class="rightTitle">Projects</h2>
                <div class="box">
                    <div class="yearOfJoining">
                        <h4>Project Name</h4>
                        <h4>TEAM SIZE</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                        <a href="https://www.w3schools.com/">Github link/ hosting link</a>
                    </div>
                    <div class="project">
                        <h5>Project date</h5>
                    </div>
                </div>
                <div class="box">
                    <div class="yearOfJoining">
                        <h4>Project Name</h4>
                        <h4>TEAM SIZE</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                        <a href="https://www.w3schools.com/">Github link/ hosting link</a>
                    </div>
                    <div class="project">
                        <h5>Project date</h5>
                    </div>
                </div>
                <div class="box">
                    <div class="yearOfJoining">
                        <h4>Project Name</h4>
                        <h4>TEAM SIZE</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                        <a href="https://www.w3schools.com/">Github link/ hosting link</a>
                    </div>
                    <div class="project">   
                        <h5>Project date</h5>
                    </div>
                </div>
            </div>
            <div class="about skills">
                <h2 class="rightTitle">Professional Skills</h2>
                <div class="box">
                    <h4>HTML</h4>
                    <div class="percent">
                        <div style="width: 90;"></div>
                    </div>
                </div>
                <div class="box">
                    <h4>HTML</h4>
                    <div class="percent">
                        <div style="width: 70;"></div>
                    </div>
                </div>
                <div class="box">
                    <h4>HTML</h4>
                    <div class="percent">
                        <div style="width: 80;"></div>
                    </div>
                </div>
                <div class="box">
                    <h4>HTML</h4>
                    <div class="percent">
                        <div style="width: 60;"></div>
                    </div>
                </div>
                <div class="box">
                    <h4>HTML</h4>
                    <div class="percent">
                        <div style="width: 50;"></div>
                    </div>
                </div>
            </div>
            <div class="about activities">
                <h2 class="rightTitle">ACTIVITIES</h2>
                <div class="box">
                    <div class="yearOfJoining">
                        <h5>Event name</h5>
                        <h6>Event date</h6>
                    </div>
                    <div class="text">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="yearOfJoining">
                        <h5>Event name</h5>
                        <h6>Event date</h6>
                    </div>
                    <div class="text">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, atque nesciunt? Corrupti perferendis dolore repellendus magnam recusandae quae explicabo amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>